In [1]:
import warnings
warnings.filterwarnings("ignore")

import missingno
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from missingpy import MissForest

from sklearn.svm import SVC
from sklearn.metrics import f1_score
from imblearn.over_sampling import SMOTE
from sklearn.pipeline import make_pipeline
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
X_train = pd.read_csv("random_forest_imputed.csv").drop(["Unnamed: 0"], axis=1)
y_train = X_train["y"]
X_train.drop(["y"], axis=1, inplace=True)
X_train = pd.get_dummies(X_train, columns=["Loan type", "Occupation type"], drop_first=True)

X_test = pd.read_csv('../datasets/test_x.csv')

In [3]:
X_train

,Expense,Income,Age,Score1,Score2,Score3,Score4,Score5,Loan type_1.0,Occupation type_1.0,Occupation type_2.0
0,1830.943788,14767.28013,1.0,0.016885,205.196182,22.521523,600.911200,3464.613291,1,1,0
1,1645.302546,15272.26775,0.0,0.240375,194.266317,5.349117,600.888816,3374.921455,1,1,0
2,1555.026392,17482.49734,0.0,0.213921,183.529871,-1.054954,598.596944,3331.304886,0,1,0
3,1681.231935,16257.66493,0.0,0.303909,191.228965,6.971750,602.447203,3392.275849,0,1,0
4,1777.648916,16316.29914,1.0,0.301090,224.074728,11.218489,605.947340,3438.864083,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
79995,1470.317116,16659.49663,0.0,0.208757,172.526308,-5.332184,596.648261,3290.377932,0,0,1
79996,1923.617480,14910.36890,0.0,0.201837,186.252458,15.425841,600.855069,3509.388221,1,1,0
79997,1711.147154,15962.25945,1.0,0.226396,196.098150,8.161353,601.360722,3406.734018,0,1,0
79998,1673.822523,15525.27413,0.0,0.101090,186.390184,3.381393,596.750750,3388.700770,1,0,1
79999,1486.290579,16207.20250,0.0,0.187832,182.131337,-3.979278,597.251640,3298.096529,0,0,1

In [4]:
# Setting up testing and training sets
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.25, random_state=42)

sm = SMOTE(random_state=42, sampling_strategy=1.0)
X_train, y_train = sm.fit_sample(X_train, y_train)

In [5]:
clf = make_pipeline(StandardScaler(), SVC())
clf.fit(X_train, y_train)
y_pred = clf.predict(X_train)

accuracy_score(y_train, y_pred)

0.9699687917967008

In [6]:
f1_score(y_train, y_pred)

0.9695330450672118

In [7]:
y_test_pred = clf.predict(X_test)

accuracy_score(y_test, y_test_pred)

0.9765

In [8]:
f1_score(y_test, y_test_pred)

0.8320228734810579